* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    .bug {
        background-color: #94BC4A;
    }	
    .dark {
        background-color: #736C75;
    }	
    .dragon {
        background-color: #6A7BAF;
    }	
    .electric {
        background-color: #E5C531;
    }	
    .fairy {
        background-color: #E397D1;
    }	
    .fighting {
        background-color: #CB5F48;
    }	
    .fire {
        background-color: #EA7A3C;
    }	
    .flying {
        background-color: #7DA6DE;
    }	
    .ghost {
        background-color: #846AB6;
    }	
    .grass {
        background-color: #71C558;
    }	
    .ground {
        background-color: #CC9F4F;
    }	
    .ice {
        background-color: #70CBD4;
    }	
    .normal {
        background-color: #AAB09F;
    }	
    .poison {
        background-color: #B468B7;
    }	
    .psychic {
        background-color: #E5709B;
    }	
    .rock {
        background-color: #B2A061;
    }	
    .steel {
        background-color: #89A1B0;
    }	
    .water {
        background-color: #539AE2;
    }	
}

@media screen and (min-width: 468px){
    ol.pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 686px) {
    body {
        background-color: rgb(238, 238, 238);
    }

    .content {
        margin: auto;
        background-color: white;
    }

    ol.pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .content {
        width: 1024px;
    }
}


.content {
    padding: 1rem;
}

.btns {
    display: flex;
    justify-content: center;
}

.btns :disabled {
    filter: opacity(0.25);
}

.btns button {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 7px;
    background-color: #5776d1;
    border-style: none;
    color: whitesmoke;
}

ol.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
}

ol.pokemons li {
    margin: .5rem;
    padding: 1rem;
    background-color: #18b47dc9;
    color: aliceblue;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokeId {
    color: rgba(0, 0, 0, 0.678);
    text-align: right;
}

.pokeNome {
    text-transform: capitalize;
}
.pokeInfo {
    display: flex;
    justify-content: space-between;
}

ol.pokeTipo {
    list-style: none;
    padding: 0;
    margin: 0.5rem, 0, 0, 0;
}

ol.pokeTipo li{
    margin: 0.3rem;
    padding: 0.5rem;
    background-color: #38d39d;
    color: white;
    border-radius: 0.7rem;
    align-items: center;
    filter: brightness(0.90);
}